[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
alembic = "*"
pyjwt = "*"
passlib = "*"
python-multipart = "*"
bcrypt = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
